@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);
body {


  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #f86b4f;
  background-color: #f5f5f5;


  // Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#filter-content{
  display: none;
}
.table{
  font-weight: normal;
}

.section-header{
  height: 100px;
  background-color: #f86b4f;
  top: 0;
}

.logo-container{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;

}
.logo {
margin-top: -60px;
margin-bottom: 20px;
display: inline-block;
width: 100px;
height: 100px;
background-color: #fff;
border: 3px solid #fff;
z-index: 500;
position: absolute;
  left: 50%;
  margin-left: -50px;
border-radius: 100%;
box-shadow: 0 1px 1px rgba(0,0,0,0.3);

}

.add-session{
  font-family: "Roboto";
  color: #1a2732;
  font-weight: 400;
  background: white;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.15);
  text-shadow: none;
  position: relative;
  margin-top: 25px;
 width: 100%;

 font-size: 18px;
  padding: 25px 25px 50px 25px;
display: none;
}

.add-session .col-lg-2{
  margin-top: -5px;
}


.add-session .row {
  margin-top: 50px;
}

.time{
  color: #f86b4f;
}

.checkbox{
  margin-left: 18px !important;
}
.section-maintron{
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

.section-filter{
  padding-left: 25px;
  padding-right: 25px;
}

.section-table{
  margin-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.full-width{
  width: 100% !important;
}

.table thead {
  color: #1a2732 !important;
}

.btn-large{
  font-size: 42px;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  line-height: 200px;

}

.btn-medium{
  font-size: 42px;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  color: #1a2732;
}

.btn  {color: #1a2732 !important}

//MEDIA QUERIES

@media only screen and (max-width : 1200px) {
  .add-session .col-lg-2{
  margin-top: 15px;
  margin-bottom: 15px;
  }
}

